/* src/app/login.component.css */
.min-h-screen {
    min-height: 100vh;
  }
  
  .bg-gray-100 {
    background-color: #f7fafc;
  }
  
  .bg-white {
    background-color: #ffffff;
  }
  
  .bg-blue-500 {
    background-color: #4299e1;
  }
  
  .hover\:bg-blue-600:hover {
    background-color: #3182ce;
  }
  
  .text-gray-700 {
    color: #4a5568;
  }
  
  .text-white {
    color: #ffffff;
  }
  